@tailwind base;
h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    @apply opacity-100;
}

.signup-button {
    @apply text-white w-2/5 p-2 px-4 m-auto mb-12 transition-all duration-300 ease-in-out transform rounded-lg shadow-lg;
}

.active {
    /* so far unused class */
    border-bottom: solid;
    border-color: #3f657c;
    border-width: 0 0 3px 0;
}

@tailwind components;
@tailwind utilities;
