@tailwind base;
h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    @apply opacity-100;
}

.signup-button {
    @apply w-2/5 p-2 px-4 m-auto mb-12 text-white rounded-lg shadow-lg;
}

.contact-submit-button {
    @apply w-4/5 px-4 py-2 m-auto text-white rounded-lg shadow-lg;
}

.counter-button {
    @apply px-4 m-auto mx-4 mb-6 text-white rounded-lg;
}

.active {
    /* so far unused class */
    border-bottom: solid;
    border-color: #3f657c;
    border-width: 0 0 3px 0;
}

@tailwind components;
@tailwind utilities;
