@tailwind base;
h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    @apply opacity-100;
}

.signup-button {
    @apply m-auto mb-12 w-2/5 transform rounded-lg p-2 px-4 text-white shadow-lg transition-all duration-300 ease-in-out;
}

.counter-button {
    @apply m-auto mx-4 mb-6 transform rounded-lg px-4 text-white transition-all duration-300 ease-in-out;
}

.active {
    /* so far unused class */
    border-bottom: solid;
    border-color: #3f657c;
    border-width: 0 0 3px 0;
}

@tailwind components;
@tailwind utilities;
